<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <title>Lease Agreement</title>
        <style>
            body {
                font-family: Arial, sans-serif;
                margin: 40px;
                line-height: 1.5;
            }
            h1 {
                text-align: center;
                font-size: 24px;
                font-weight: bold;
            }
            .note {
                text-align: center;
                font-style: italic;
            }
            .section {
                margin-top: 30px;
            }
            .section-title {
                font-weight: bold;
            }
            .two-column {
                display: flex;
                justify-content: space-between;
            }
            .two-column .underline{
                width: 100%;
            }
            .column {
                width: 48%;
            }
            .container-li {
                margin:50px 10px 0 100px;
            }
            .underline {
                display: inline-block;
                border-bottom: 1px solid #000;
                min-width: 100px;
                margin-bottom: 0px;
            }
            .signature-section {
                display: flex;
                justify-content: space-evenly;
                margin:50px 10px 0 100px;
                gap: 40px;
            }

            .signature-section .col-1{
                width: 50%;
            }
        </style>
    </head>
    <body>
        <h1>LEASE AGREEMENT</h1>
        <p class="note">
            <strong>Note:</strong>
            <span style="letter-spacing: 2px"
                >This lease Agreement should be maintained in the Equipment
                during the term of the Agreement.</span>
        </p>

        <div class="section">
            <ol style="list-style-type: upper-roman; padding: 0">
                <li>
                    <div class="container-li">
                        <strong>I.</strong>,
                        <span class="underline" style="width: 90%"></span>
                        (Carrier/Registrant)<br /><br />
                        Address:
                        <span class="underline" style="width: 93%"></span>, and
                        <br /><br />
                        <span class="underline" style="width: 91%"></span>
                        (Equipment Owner)
                    </div>
                    <div class="container-li">
                        <p style="line-height: 2; text-align: justify">
                            are parties to a written ease greement greement
                            whereby the quipment wner has leased to the arrier
                            certain motor vehicle equipment listed below owned
                            and controlled by the quipment wner whereby the
                            quipment wner is providing the arrier as operator or
                            operators of the quipment for the purpose of loading
                            transporting and unloading freight.
                        </p>
                    </div>
                </li>
                <li>
                    <div class="container-li">
                        <p style="line-height: 2.5; text-align: justify">
                            The Carrier shall have
                            <strong
                                >exclusive possession, control, and use</strong
                            >
                            of the equipment for the duration of this Agreement
                            as required by 49 CFR § 376.12(c)(1). The Carrier
                            assumes complete responsibility for the operation of
                            the equipment during the lease term.
                        </p>
                    </div>
                </li>
                <li>
                    <div class="container-li">
                        <p>
                            Equipment Owner/Equipment
                            Information
                        </p>
                        <div class="two-column">
                            <div class="column">
                                <p>Name: <span class="underline"></span></p>
                                <p>dba: <span class="underline"></span></p>
                                <p>Address: <span class="underline"></span>
                                    
                                </p>
                            </div>
                            <div class="column">
                                <p>Phone #: <span class="underline"></span></p>
                                <p>Contact: <span class="underline"></span></p>
                                <p>FEIN: <span class="underline"></span></p>
                            </div>
                        </div>
                        <div class="one-comun">
                            <p>Year:<span class="underline  "></span> &nbsp; Make:
                                <span class="underline"></span> &nbsp; VIN:
                                <span class="underline" style="width: 250px"></span>
                                &nbsp; Unit #: <span class="underline"></span>
                            </p>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="container-li" >
                        <p>
                            Duration of Lease Agreement and Termination
                        </p>
                        <p>
                            The ease greement shall begin on the date below and shall remain in effect until terminated by either party giving notice to that effect. otice may be given personally by mail or by fax at the address or fax number shown in the ease greement
                        </p>
                    </div>
                </li>
                <li>
                    <div class="container-li">
                        <p>
                            The Owner shall be compensated as follows: Settlement statements will be provided at least every 7 days detailing: Trip earnings Deductions (fuel advances, escrow, insurance, etc.)
                            Net settlement amount Payment will be made no later than days after submission of necessary delivery documents and paperwork.
                        </p>
                    </div>
                </li>
                <li>
                    <div class="container-li">
                        <p>
                            All chargebacks or deductions to the Owner's
                            compensation must be specified in writing and agreed upon in
                            advance.<br />
                            The Carrier will provide a written explanation of any deduction
                            at the time of settlement.
                        </p>
                    </div>
                </li>
                <li>
                    <div class="container-li">
                        <p>
                            The Carrier shall provide public liability and property damage insurance as required under 49 CFR Part 387 or if the Owner decided to run with own insurance an Additional Insured (Certificate Holder) need to be provide to Carrier with Carrier information on it. Also, the Owner is responsible for:
                            Non-trucking liability (bobtail) insurance Occupational accident or workers' compensation coverage (if required).
                        </p>
                    </div>
                </li>
                <li>
                    <div class="container-li">
                        <p>
                            The Owner is responsible for maintaining the equipment in safe operating condition and in compliance with all federal and state laws. The Carrier may require proof of inspections and maintenance.
                        </p>
                    </div>
                </li>                
            </ol>
        </div>


        <div class="signature-section">
            
            <div class="col-1">
                <p><strong>MOTOR CARRIER/REGISTRANT</strong></p>
                <p>By: <span class="underline" style="width: 100%"></span></p>
                <p>
                    Date: <span class="underline" style="width: 100%"></span>
                </p>
                <p>
                    MC #: <span class="underline" style="width: 100%"></span>
                </p>
                <p>
                    USDOT #:
                    <span class="underline" style="width: 100%"></span>
                </p>
            </div>
            <div class="col-1">
                <p><strong>EQUIPMENT OWNER</strong></p>
                <p>By: <span class="underline" style="width: 100%"></span></p>
                <p>
                    Date: <span class="underline" style="width: 100%"></span>
                </p>
            </div>
        </div>
    </body>
</html>
